:root{
    --blanco:#ffffff;
    --negro:#212121;
    --primario: #ffc107;
    --secundario:#0097a7;
    --gris:#757575;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
    color: pink;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; /** o tambien se puede usar 700 **/ 
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
<@media (min-width: 480px){  /** Se reseteara el tamaño **/
    .boton{
        width: auto;
    }
}
.bg-nav{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
    
}
.navegacion-principal a{
    display: block;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
    font-weight: bold;
}
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}
.contenedor-hero {
    position: absolute;
    background-color: rgba(0,0,0,.7);
    background-color: rgba(0,0,0/70%);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column; /** cuando se utiliza columnas  se utiliza justify content**/
    align-items: center;
    justify-content: center;

}

.contenedor-hero h2,
.contenedor-hero p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: center; /** alineacion vertical**/
}